<div class="auth-wrapper">
    <form class="form-signin" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <h3 class="h3 mb-3 font-weight-normal text-center">Zarejestruj się</h3>
        <!-- Errors -->
        <div *ngIf="errors?.name" class="alert alert-danger mt-3">
            {{ errors?.name }}
        </div>
        <div *ngIf="errors?.email" class="alert alert-danger mt-3">
            {{ errors?.email }}
        </div>
        <div *ngIf="errors?.password" class="alert alert-danger mt-3">
            {{ errors?.password }}
        </div>
        <div *ngIf="errors?.password_confirmation" class="alert alert-danger mt-3">
            {{ errors?.password_confirmation }}
        </div>
        <!-- Signup form -->
        <mat-form-field class="d-block">
            <mat-label>Nazwa</mat-label>
            <input matInput type="text" formControlName="name" />
        </mat-form-field>
        <mat-form-field class="d-block">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email" />
        </mat-form-field>
        <mat-form-field class="d-block">
            <mat-label>Hasło</mat-label>
            <input matInput type="password" formControlName="password" />
        </mat-form-field>
        <mat-form-field class="d-block">
            <mat-label>Powtórz hasło</mat-label>
            <input matInput type="password" formControlName="password_confirmation" />
        </mat-form-field>
        <button type="submit" mat-flat-button color="primary" class="d-block m-auto">Zarejestruj</button>
    </form>
</div>