.success {
    background-color: green;
    color: white;
}

.info {
    background-color: darkblue;
    color: white;
}

.warning {
    background-color: orange;
}

.error {
    background-color: rgb(150,0,0);
    color: white;
}

.toast-header {
    background-color: transparent;
    color: inherit;
}

.toast-body {
    background-color: rgba(255, 255, 255, 0.2);
}
